.title {
    margin-bottom: 8px;
    font-size: 64px;
    line-height: 1.2;
    color: $color-black-700;
    font-weight: 400;
    text-align: center;
}

.text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
    color: $color-black-700;
    font-weight: 400;
    text-align: center;
}