.layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  @include respond-to('tablet') {
    gap: 24px;
  }

  @include respond-to('desktop') {
    gap: 40px;
  }
}

.mainContainer {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
  box-sizing: border-box;

  @include respond-to('tablet') {
    padding: 0 30px;
    margin-bottom: 56px;
  }

  @include respond-to('desktop') {
    padding: 0 112px;
    margin-bottom: 90px;
  }
}

.asideSlot {
  display: none; /* На мобильных сайдбар полностью скрыт и не занимает место */

  @include respond-to('desktop') {
    display: block;
    width: 392px;
    flex-shrink: 0;
    background-color: #f9f9f9; /* Ваши стили для сайдбара */
    border-right: 1px solid #eaeaea;
  }
}

.content {
  flex: 1;
}
