.layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  @include respond-to('tablet') {
    gap: 24px;
  }

  @include respond-to('desktop') {
    gap: 40px;
  }
}
