.layout {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;

  @include respond-to('tablet') {
    grid-gap: 24px;
  }

  @include respond-to('desktop') {
    grid-gap: 40px;
  }
}

.content {
  width: 100%; 
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}
