.section {
  transition: opacity 0.2s;

  &.pending {
    opacity: 0.6;
    pointer-events: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  animation: fadeIn 0.25s ease-out forwards;

  @include respond-to('desktop') {
    margin-bottom: 40px;
    gap: 24px;
  }
}

.item {
  background-color: $color-white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.102);

  &:first-child {
    border-bottom-left-radius: $radius-xl;
    border-bottom-right-radius: $radius-xl;
  }

  &:not(:first-child) {
    border-radius: $radius-xl;
  }
}

.message {
  padding: 16px;
}
