.promoBanner {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: $color-white;
    border-radius: $radius-xl;
    box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.102);
    border: 1px solid $color-purple-700;

    @include respond-to('tablet') {
        padding: 20px;
    }
}

.nameContent {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatarContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid $color-purple-600;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transform: scaleX(-1)
}

.nameTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.name {
    font-size: 16px;
    font-weight: 500;
    color: $color-black-800;
    line-height: 1.3;
}

.subName {
    font-size: 16px;
    font-weight: 500;
    color: $color-black-500;
    line-height: 1.3;
}

.description {
    font-size: 16px;
    font-weight: 500;
    color: $color-black-800;
    line-height: 1.3;
}

.iconsList {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.socialIcon {
    width: 24px;
    height: 24px;
    background: $color-white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}