.header {
  min-height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-right: 10px;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-200;
  z-index: 50;

  @include respond-to('tablet') {
    padding: 15px 30px;
  }

  @include respond-to('desktop') {
    padding: 15.5px 112px;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;

  @include respond-to('tablet') {
    gap: 10px;
  }

  @include respond-to('desktop') {
    gap: 8px;
  }
}

.logoWrapper {
  color: $color-logo-black;
}

.logo {
  width: 33px;
  height: 33px;
}

.logoYeahub {
  display: none;
  width: 95px;

  @include respond-to('tablet') {
    display: block;
    margin-right: 26px;
  }
}

.titleGroup {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navList {
  display: none;

  @include respond-to('desktop') {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.navItem {
  font-size: 16px;
  font-weight: 500;
  color: $color-black-900;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $color-logo-black;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: $color-black-900;

  @include respond-to('desktop') {
    display: none;
  }
}

.chevron {
  color: $color-gray-500;

  @include respond-to('desktop') {
    display: none;
  }
}

.menuButton {
  padding: 5px;
  border-radius: 6px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-gray-100;
  }
}

.menuIcon {
  color: $color-gray-800;
}
