

.title {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.2;
  color: $color-black-700;
  font-weight: 400;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.expandLink {
  margin-top: 8px;
  font-size: 14px;
  color: $color-purple-600;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}
