.page {
  padding: 0 10px;
  margin-bottom: 20px;
  text-align: start;

  > * + * {
    margin-top: 16px;
  }
}

.card {
  padding: 10px;
  padding-top: 16px;
  border-radius: $radius-2xl;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: $color-white;
}

.content {
  border-top-left-radius: $radius-sm;
  border-top-right-radius: $radius-sm;
  background-color: $color-white;
}

.title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 8px;
  margin: 9px 0 24px 0;
  border-bottom: 1px solid $color-gray-200;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
